/.RigidBodiesDescriptionLabelProvider.java._trace
/.RigidBodiesDescriptionLabelProvider.xtendbin
/.RigidBodiesLabelProvider.java._trace
/.RigidBodiesLabelProvider.xtendbin
/RigidBodiesDescriptionLabelProvider.java
/RigidBodiesLabelProvider.java
